In [2]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [8]:
#Loading the csv exported in Part I to a DataFrame
cities_df=pd.read_csv("../output_data/Cities.csv")
cities_df=cities_df.drop(columns=["Unnamed: 0"])
cities_df.head()

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,barrow,71.2906,-156.7887,261.16,79,90,6.17,US,1638641306
1,avarua,-21.2078,-159.7750,297.18,94,100,1.54,CK,1638641047
2,san patricio,28.0170,-97.5169,301.20,61,34,4.99,US,1638641306
3,bethel,41.3712,-73.4140,281.89,57,75,0.89,US,1638641306
4,ushuaia,-54.8000,-68.3000,289.96,29,75,7.72,AR,1638641307

<h2> Humidity Heatmap</h2>

In [9]:
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.